body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.product{
    position: relative;
   
}

.price{
    background-color: tomato;
    position: absolute;
    top: 0;
    right:0;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
